---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import PageContent from "../components/PageContent/PageContent.astro";
import MobileSidebar from "../components/LeftSidebar/MobileSidebar"
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import * as CONFIG from "../config";
import "../styles/globals.css";

const { content = {} } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
const githubEditUrl = CONFIG.GITHUB_EDIT_URL && CONFIG.GITHUB_EDIT_URL + currentFile;

---

<html dir={content.dir ?? "ltr"} lang={content.lang ?? "en-us"} class="h-full ">
	<head>
		<HeadCommon />
		<HeadSEO {content} canonicalURL={canonicalURL} />
		<title>{content.title ? `${content.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title>
	</head>
	
	<body class="w-full flex flex-col h-full bg-slate-50 dark:bg-dark-background text-black dark:text-slate-50 ">
		<Header currentPage={currentPage} />
		<MobileSidebar client:load currentPage={currentPage} />
		<main class="h-full flex lg:grid-cols-3 lg:grid max-w-full overflow-x-hidden pt-20 scrollbar-thin dark:scrollbar-thumb-slate-500 scrollbar-thumb-slate-800 scrollbar-track-gray-100">
			<aside class="hidden w-fit mx-auto sm:flex sm:flex-col sm:sticky sm:top-0 sm:h-fit z-10  sm:bg-slate-50 sm:dark:bg-dark-background" title="Site Navigation">
				<LeftSidebar currentPage={currentPage} />
			</aside>
			<div class="block sm:hidden">
		</div>
			<div class="flex flex-col h-full columns-2 p-2 w-full" >
				<PageContent {content} {githubEditUrl}>
					<slot />
				</PageContent>
			</div>
			<aside class="hidden w-fit mx-auto lg:flex lg:flex-col lg:sticky lg:top-0  h-fit" title="Table of Contents">
				<RightSidebar {content} {githubEditUrl} />
			</aside>
		</main>
		<Footer />
	</body>
</html>
